<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.osate.org/simpleidl/SimpleIDL"
			class = "org.osate.simpleidl.simpleIDL.SimpleIDLPackage"
			genModel = "model/generated/SimpleIDL.genmodel" />
	</extension>
</plugin>
