<?xml version="1.0" encoding="UTF-8"?>
<!--
FACE Data Model to AADL Translator

Copyright 2023 Carnegie Mellon University.

NO WARRANTY. THIS CARNEGIE MELLON UNIVERSITY AND SOFTWARE ENGINEERING INSTITUTE MATERIAL IS FURNISHED ON
AN "AS-IS" BASIS. CARNEGIE MELLON UNIVERSITY MAKES NO WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED,
AS TO ANY MATTER INCLUDING, BUT NOT LIMITED TO, WARRANTY OF FITNESS FOR PURPOSE OR MERCHANTABILITY,
EXCLUSIVITY, OR RESULTS OBTAINED FROM USE OF THE MATERIAL. CARNEGIE MELLON UNIVERSITY DOES NOT MAKE ANY
WARRANTY OF ANY KIND WITH RESPECT TO FREEDOM FROM PATENT, TRADEMARK, OR COPYRIGHT INFRINGEMENT.

Released under an Eclipse Public License - v1.0-style license, please see license.txt or contact
permission@sei.cmu.edu for full terms.

[DISTRIBUTION STATEMENT A] This material has been approved for public release and unlimited distribution.
Please see Copyright notice for non-US Government use and distribution.

DM23-0412
-->
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="Face30EditorAdvisorApplication">
      <!-- @generated face30 -->
      <application>
         <run class="face.presentation.Face30EditorAdvisor$Application"/>
      </application>
   </extension>

   <extension point="org.eclipse.ui.perspectives">
      <!-- @generated face30 -->
      <perspective
            name="%_UI_Perspective_label"
            class="face.presentation.Face30EditorAdvisor$Perspective"
            id="face.presentation.Face30EditorAdvisorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <!-- @generated face30 -->
      <command
            name="%_UI_Menu_OpenURI_label"
            description="%_UI_Menu_OpenURI_description"
            categoryId="org.eclipse.ui.category.file"
            id="face.presentation.Face30EditorAdvisorOpenURICommand"/>
      <command
            name="%_UI_Menu_Open_label"
            description="%_UI_Menu_Open_description"
            categoryId="org.eclipse.ui.category.file"
            id="face.presentation.Face30EditorAdvisorOpenCommand"/>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <!-- @generated face30 -->
      <key
            commandId="face.presentation.Face30EditorAdvisorOpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="face.presentation.Face30EditorAdvisorOpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated face30 -->
      <actionSet
            label="%_UI_Face30EditorAdvisor_ActionSet_label"
            visible="true"
            id="Face30EditorAdvisorActionSet">
         <action
               label="%_UI_Menu_OpenURI_label"
               definitionId="face.presentation.Face30EditorAdvisorOpenURICommand"
               class="face.presentation.Face30EditorAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="face.presentation.Face30EditorAdvisorOpenURIAction"/>
         <action
               label="%_UI_Menu_Open_label"
               definitionId="face.presentation.Face30EditorAdvisorOpenCommand"
               class="face.presentation.Face30EditorAdvisor$OpenAction"
               menubarPath="file/additions"
               id="face.presentation.Face30EditorAdvisorOpenAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated face30 -->
      <actionSet
            label="%_UI_FaceModelWizard_ActionSet_label"
            visible="true"
            id="face.presentation.FaceActionBarContributorActionSet">
         <action
               label="%_UI_FaceModelWizard_label"
               class="face.presentation.FaceActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="face.presentation.FaceActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated face30 -->
      <editor
            id="face.presentation.FaceEditorID"
            name="%_UI_FaceEditor_label"
            icon="icons/full/obj16/FaceModelFile.gif"
            extensions="face"
            class="face.presentation.FaceEditor"
            contributorClass="face.presentation.FaceActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated face30 -->
      <actionSet
            label="%_UI_DatamodelModelWizard_ActionSet_label"
            visible="true"
            id="face.datamodel.presentation.DatamodelActionBarContributorActionSet">
         <action
               label="%_UI_DatamodelModelWizard_label"
               class="face.datamodel.presentation.DatamodelActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="face.datamodel.presentation.DatamodelActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated face30 -->
      <editor
            id="face.datamodel.presentation.DatamodelEditorID"
            name="%_UI_DatamodelEditor_label"
            icon="icons/full/obj16/DatamodelModelFile.gif"
            extensions="datamodel"
            class="face.datamodel.presentation.DatamodelEditor"
            contributorClass="face.datamodel.presentation.DatamodelActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated face30 -->
      <actionSet
            label="%_UI_ConceptualModelWizard_ActionSet_label"
            visible="true"
            id="face.datamodel.conceptual.presentation.ConceptualActionBarContributorActionSet">
         <action
               label="%_UI_ConceptualModelWizard_label"
               class="face.datamodel.conceptual.presentation.ConceptualActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="face.datamodel.conceptual.presentation.ConceptualActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated face30 -->
      <editor
            id="face.datamodel.conceptual.presentation.ConceptualEditorID"
            name="%_UI_ConceptualEditor_label"
            icon="icons/full/obj16/ConceptualModelFile.gif"
            extensions="conceptual"
            class="face.datamodel.conceptual.presentation.ConceptualEditor"
            contributorClass="face.datamodel.conceptual.presentation.ConceptualActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated face30 -->
      <actionSet
            label="%_UI_LogicalModelWizard_ActionSet_label"
            visible="true"
            id="face.datamodel.logical.presentation.LogicalActionBarContributorActionSet">
         <action
               label="%_UI_LogicalModelWizard_label"
               class="face.datamodel.logical.presentation.LogicalActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="face.datamodel.logical.presentation.LogicalActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated face30 -->
      <editor
            id="face.datamodel.logical.presentation.LogicalEditorID"
            name="%_UI_LogicalEditor_label"
            icon="icons/full/obj16/LogicalModelFile.gif"
            extensions="logical"
            class="face.datamodel.logical.presentation.LogicalEditor"
            contributorClass="face.datamodel.logical.presentation.LogicalActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated face30 -->
      <actionSet
            label="%_UI_PlatformModelWizard_ActionSet_label"
            visible="true"
            id="face.datamodel.platform.presentation.PlatformActionBarContributorActionSet">
         <action
               label="%_UI_PlatformModelWizard_label"
               class="face.datamodel.platform.presentation.PlatformActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="face.datamodel.platform.presentation.PlatformActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated face30 -->
      <editor
            id="face.datamodel.platform.presentation.PlatformEditorID"
            name="%_UI_PlatformEditor_label"
            icon="icons/full/obj16/PlatformModelFile.gif"
            extensions="platform"
            class="face.datamodel.platform.presentation.PlatformEditor"
            contributorClass="face.datamodel.platform.presentation.PlatformActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated face30 -->
      <actionSet
            label="%_UI_UopModelWizard_ActionSet_label"
            visible="true"
            id="face.uop.presentation.UopActionBarContributorActionSet">
         <action
               label="%_UI_UopModelWizard_label"
               class="face.uop.presentation.UopActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="face.uop.presentation.UopActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated face30 -->
      <editor
            id="face.uop.presentation.UopEditorID"
            name="%_UI_UopEditor_label"
            icon="icons/full/obj16/UopModelFile.gif"
            extensions="uop"
            class="face.uop.presentation.UopEditor"
            contributorClass="face.uop.presentation.UopActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated face30 -->
      <actionSet
            label="%_UI_IntegrationModelWizard_ActionSet_label"
            visible="true"
            id="face.integration.presentation.IntegrationActionBarContributorActionSet">
         <action
               label="%_UI_IntegrationModelWizard_label"
               class="face.integration.presentation.IntegrationActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="face.integration.presentation.IntegrationActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated face30 -->
      <editor
            id="face.integration.presentation.IntegrationEditorID"
            name="%_UI_IntegrationEditor_label"
            icon="icons/full/obj16/IntegrationModelFile.gif"
            extensions="integration"
            class="face.integration.presentation.IntegrationEditor"
            contributorClass="face.integration.presentation.IntegrationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated face30 -->
      <actionSet
            label="%_UI_TraceabilityModelWizard_ActionSet_label"
            visible="true"
            id="face.traceability.presentation.TraceabilityActionBarContributorActionSet">
         <action
               label="%_UI_TraceabilityModelWizard_label"
               class="face.traceability.presentation.TraceabilityActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="face.traceability.presentation.TraceabilityActionBarContributorNewAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated face30 -->
      <editor
            id="face.traceability.presentation.TraceabilityEditorID"
            name="%_UI_TraceabilityEditor_label"
            icon="icons/full/obj16/TraceabilityModelFile.gif"
            extensions="traceability"
            class="face.traceability.presentation.TraceabilityEditor"
            contributorClass="face.traceability.presentation.TraceabilityActionBarContributor">
      </editor>
   </extension>

</plugin>
